.body {
    background-color: transparent;
    background-position: auto;
    background-size: auto;
}

.header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.well{
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: ubuntu;
    font-size: 30px;
    font-style: italic;
}

.floating-box-left {
    clear: left;
    text-align: center;
    font-family: ubuntu;

}

.floating-box-right {
    border-color: blue;
    border-width: 2px;
    text-align: center;
    font-family: ubuntu;
    padding-top: 50px;
    padding-bottom: 50px;
    font-style: bold;
}

.display {
    display: inline-block;
}





table.center {
    margin-left:auto; 
    margin-right:auto;
    font-family: ubuntu;
    font-stretch: 10px;
    padding-bottom: 100px;
  }


.nav {
    line-height:30px;
    background-color:#f7e6ff;
    height:100px;
    width:300px;
    float:center;
    padding:5px;
    text-align: center;	      
}
.section {
    width:350px;
    float:center;
    padding:10px;
    font-family: ubuntu;	 	 
}
.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	
    font-family: ubuntu; 	 
}